.upper
	%h2 Log in


.lower
	- form_tag do

		%p
			= text_field_tag :email, params[:email], :value => 'Email address'
			
		%p
			= password_field_tag :password, params[:password], :value => 'Password'
	
		%p
			= submit_tag "Login", :id => 'save_button'
			= link_to "or sign up", signup_path, :class => 'sign_up_link'

