%p
	Hey
	= @name
	
%p
	Thanks for your interest in Testify. To sign up, go to:
	%br
	= link_to "http://testifyapp.com/signup", "http://testifyapp.com/signup"

%p
	You'll need to following invite code too:
	%b= @code
	
%p
	Thanks,
	
%p
	The Testify Team
