%p
	Hey
	= @review.user.name.titleize

%p
	= @review.name.titleize
	has reviewed you on for the following:
	%br
	%b= @review.work.titleize

%p
	To see what they thought, you can view your profile
	%br
	= link_to @link, @link

%p
	Thanks,

%p
	The Testify Team
