%p
	Hey
	- if @review.user.name.nil?
		= @review.user.handle
	- else
		= @review.user.name.titleize

%p
	= @review.name.titleize
	has reviewed you on Testify.

%p
	To see what they thought, you can view your profile
	%br
	= link_to @link, @link

%p
	Thanks,

%p
	The Testify Team
