body {
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	color: #fff;
	background: #c7c2bb url('../images/gradient.png') top center no-repeat;
}

a {
	color: #fff;
}

h2 {
	font-size: 24px;
	text-shadow: 1px 1px 1px #666;
	font-weight: 600;
}

h3 {	
	font-family: Verdana, Arial, Helvetica;
	font-size: 24px;
	text-shadow: 1px 1px 1px #666;
	font-weight: 100;
}

h4 {
	font-size: 14px;
	color: #36434a;
	font-weight: 100;
}

.microtext {
	font-size: 10px;
}

#page {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.divider {
	border-top: 1px solid #999;
	padding-top: 10px;
}

.flash {
	color: #000;
	margin-top: 20px;
	padding: 10px 10px 10px 20px;
}

.flash_icon {
	padding-right: 10px;
	margin-top: 1px;
	float: left;
}

#success {
	background: #a6d9a6;
	border: 1px solid #7ecc8f;
}

#notice {
	background: #eae89f;
	border: 1px solid #d8d475;
}

#error {
	background: #da9e9e;
	border: 1px solid #a76b67;
}

#login {
	float: right;
	background: url('../images/login_button.png') center no-repeat;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	width: 54px;
	height: 24px;
	padding: 8px 0 0 15px;
	margin-right: -7px;
}

.upper {
	background: #3d6d8d;
	padding: 15px 15px 15px 20px;
	border: 1px solid #36586e;
	margin-top: 20px;
}

.upper h2 {
	margin-top: -1px;
}

.lower {
	margin-top: -19px;
	background: #a3a9ab;
	padding: 15px 15px 15px 20px;
	border-bottom: 1px solid #dcd9d5;
}

#email_form h3 {
	margin-top: -1px;
}

#email_form h4 {
	margin-top: -20px;
}

#email_form input[type=text] {
	background: url('../images/small_text_field.png') no-repeat;
	border: none;
	width: 434px;
	height: 31px;
}

#email_form input[type=submit] {
	float: right;
}

#no_spam {
	color: #36434a;
	float: right;
	margin-top: 5px;
	margin-right: 4px;
}

h3#subtagline {
	margin-left: 20px;
}

input[type=text] {
	background: url('../images/full_text_field.png') no-repeat;
	border: none;
	width: 545px;
	height: 31px;
	font-size: 16px;
	padding-left: 15px;
}

input[type=password] {
	background: url('../images/full_text_field.png') no-repeat;
	border: none;
	width: 545px;
	height: 31px;
	font-size: 16px;
	padding-left: 15px;
}

input[type=submit] {
	background: url('../images/submit_button.png') no-repeat;
	border: none;
	width: 107px;
	height: 31px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.review {
	margin-top: 20px;
	background-color: #6c8695;
	border: 1px solid #9f9b96;
	padding: 15px 15px 15px 20px;
}

.review h2 {
	line-height: auto;
	margin-top: -2px;
}

.review h2 .number {
	color: #36434a;
	text-shadow: none;
}

.review .review_content {
	margin-left: 37px;
	margin-top: -10px;
}

#footer {
	margin-top: 25px;
	color: #59544c;
	float: right;
	padding-bottom: 10px;
}
