#greyed {
	color: #aaa;
}

a {
	text-decoration: none;
}

body {
	background-color: #fafafa;
}

#page {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	background-color: #fff;
	border: 2px solid #ddd;
	padding: 10px;
	padding-bottom: 0px;
}

#footer {
	margin-top: 10px;
	margin-left: 12px;
}

li {
 list-style-type: none;
 background-color: #ffd;
 border: 2px solid #ffa;
 padding: 5px;
 width: 562px;
 margin-top: 10px;
}

ul#reviews {
	margin-top: 55px;
	margin-left: -40px;
}

ul#demands {
	margin-top: 55px;
	margin-left: -40px;
}

h4#pending_reviews {
	float: left;
	margin-top: -10px;
}

.divider {
	border-top: 1px #ccc solid;
	padding-top: 10px;
}

#logo {
	float: right;
	border: 2px #eee solid;
}

.compulsory {
	color: #8a1f11;
}
