.upper
	%h2 Pending reviews

.reviews
	- if !@demands.empty?
		= render :partial => @demands
	- else
		.review
			You haven't requested any reviews. 
			= link_to 'Ask for one now?', short_new_user_demand_path(current_user)
