= image_tag @user.logo.url(:thumb), :id => 'logo'

%h3= @user.name

%h4#pending_reviews Pending Reviews

%ul#demands
	- if !current_user.demands.empty?
		= render :partial => current_user.demands
	- else
		%li
			You haven't requested any reviews. 
			= link_to 'Ask for one now?', :controller => 'demands', :action => 'new'
