.upper
	%h2 Invite
.lower
	- form_tag('/beta/process_invite', :method => :post) do
		%p
			= text_field_tag :name, 'Name'
		%p
			= text_field_tag :email, 'Email address'
		%p
			= submit_tag "Submit", :id => 'invite_save_button'
