.upper
	%h2 Contact
.lower#email_form
	-	form_for(@email) do |f|
		%p
			= f.text_field :address, :value => 'Email address'
			= f.submit 'Submit'
			%br
			%span.microtext#no_spam We won't spam you - promise!

